{% extends "base.html" %}

{% load static %}
{% block content %}


<!--header section end-->

<div class="main">

    <!--page header section start-->
    <section class="" style="background: url('{% static 'img/header-bg-2.jpg' %}')no-repeat center center / cover">
        <div class="section-lg bg-gradient-primary text-white section-header">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-8 col-lg-7">
                        <div class="page-header-content text-center">
                            <h1>جزئیات خدمات</h1>
                            <nav aria-label="خرده نان" class="d-flex justify-content-center">
                                <ol class="breadcrumb breadcrumb-transparent breadcrumb-text-light">
                                    <li class="breadcrumb-item"><a href="#">خانه</a></li>
                                    <li class="breadcrumb-item"><a href="#">صفحات</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">جزئیات خدمات</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--page header section end-->

    <!--services details section start-->
    <section class="section section-lg">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8 mb-4 mb-md-0 mb-lg-0">
                    <div class="service-details-wrap">
                        <img src="{{ post.image.url }}" alt="خدمات" class="img-fluid rounded shadow-sm">
                        <div class="services-detail-content mt-4">
                            <h2>{{ post.titel }}</h2>


                            <p>{{ post.text }}</p>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="sidebar-right pl-4">
                        <!--need help-->
                        <aside class="widget widget-categories">
                            <div class="widget-title">
                                <h3 class="h5">راهنمایی خواستن؟</h3>
                            </div>
                            <p>ما بصورت 24/7 ساعته برای پشتیبانی اختصاصی در دسترس هستیم</p>
                            {% for a in contact %}
                            <ul class="list-unstyled mt-25">
                                <li class="border-left-0 border-right-0 border-top-0 border-bottom border-variant-soft py-3"><span class="ti-location-pin mr-2 color-primary"></span> {{ c.location }}</li>
                                <li class="border-left-0 border-right-0 border-top-0 border-bottom border-variant-soft py-3"><span class="ti-mobile mr-2 color-primary float-left"></span>{{ a.phone }} </li>
                                <li class="border-left-0 border-right-0 border-top-0 border-bottom border-variant-soft py-3"><span class="ti-email mr-2 color-primary float-left"></span> {{ a.email }}</li>
                            </ul>
                            {% endfor %}
                        </aside>

                        <!-- Subscribe widget-->
                        <aside class="widget widget-categories">
                            <div class="widget-title">
                                <h3 class="h5">خبرنامه</h3>
                            </div>
                            <p>برای عضویت در خبرنامه من آدرس ایمیل خود را در زیر وارد کنید</p>
                            <form action="#" method="post" class="d-none d-md-block d-lg-block">
                                <input type="text" class="form-control input" id="email-footer" name="email" placeholder="info@yourdomain.com">
                                <button type="submit" class="btn btn-secondary btn-block mt-3">اشتراک
                                </button>
                            </form>
                        </aside>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--services details section end-->

    <!--customer logo section start-->
    <div class="section section-sm bg-soft">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-12">
                    <div class="owl-carousel owl-theme clients-carousel">
                        <div class="item single-client">
                            <img src="assets/img/client-logos/logo1.png" alt="آرم مشتری" class="img-fluid">
                        </div>
                        <div class="item single-client">
                            <img src="assets/img/client-logos/logo5.png" alt="آرم مشتری" class="img-fluid">
                        </div>
                        <div class="item single-client">
                            <img src="assets/img/client-logos/logo6.png" alt="آرم مشتری" class="img-fluid">
                        </div>
                        <div class="item single-client">
                            <img src="assets/img/client-logos/logo4.png" alt="آرم مشتری" class="img-fluid">
                        </div>
                        <div class="item single-client">
                            <img src="assets/img/client-logos/logo2.png" alt="آرم مشتری" class="img-fluid">
                        </div>
                        <div class="item single-client">
                            <img src="assets/img/client-logos/logo6.png" alt="آرم مشتری" class="img-fluid">
                        </div>
                        <div class="item single-client">
                            <img src="assets/img/client-logos/logo3.png" alt="آرم مشتری" class="img-fluid">
                        </div>
                        <div class="item single-client">
                            <img src="assets/img/client-logos/logo8.png" alt="آرم مشتری" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--customer logo section end-->

</div>
{% endblock %}
