{% load static %}
<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!--favicon icon-->
    <link rel="icon" href="{% static "img/favicon.png" %}" type="image/png" sizes="16x16">

    <!--title-->
    {% block titel %}

    {% endblock %}
    <!--build:css-->
    <link rel="stylesheet" href="{% static "css/main.css" %}">
    <!-- endbuild -->
</head>

<body>

<!--preloader start-->
<div id="preloader">
    <div class="loader1">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<!--preloader end-->
<!--header section start-->
<header class="header position-relative z-9">
    <nav class="navbar navbar-expand-lg navbar-transparent navbar-dark navbar-theme-primary fixed-top headroom">
        <div class="container position-relative">
            <a class="navbar-brand mr-lg-3" href="index.html">
                <img class="navbar-brand-dark" src="{% static "img/logo-white.png" %}" alt="منوی تصویر">
                <img class="navbar-brand-light" src="{% static "img/logo-color.png" %}" alt="منوی تصویر">
            </a>
            <div class="navbar-collapse collapse" id="navbar-default-primary">
                <div class="navbar-collapse-header">
                    <div class="row">
                        <div class="col-6 collapse-brand">
                            <a href="#">
                                <img src="{% static "img/logo-color.png" %}" alt="منوی تصویر">
                            </a>
                        </div>
                        <div class="col-6 collapse-close">
                            <i class="fas fa-times" data-toggle="collapse" role="button"
                               data-target="#navbar-default-primary" aria-controls="navbar-default-primary"
                               aria-expanded="false" aria-label="تغییر پیمایش"></i>
                        </div>
                    </div>
                </div>
                <ul class="navbar-nav navbar-nav-hover ml-auto">
                {% if request.user.profile %}
                <li class="nav-item">
                        <a class="nav-link" href="{% url "admin_blog:blog_post" %}">ورود به پنل کاربری</a>

                    </li>
                {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url "Home:Home" %}">خانه</a>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url "about_us:about" %}">درباره ما</a>
                    </li>

                        </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url "blog:blog" %}">وبلاگ</a>
                    </li>


                    <li class="nav-item"><a class="nav-link" href="{% url "contact_us:contact" %}">تماس با ما</a></li>
                    {% if request.user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link" href="{% url "Acount:logout" %}">خروج از حساب کاربری</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url "Home:Home" %}">{{ request.user.username }}</a></li>
                        <li class="nav-item" ><img width="50px" height="50px" style="border-radius: 80px" src="{{ request.user.profile.image.url }}"></li>
                        {% else %}
                        <li class="nav-item"><a class="nav-link" href="{% url "Acount:login" %}">ورود</a></li>

                        <li class="nav-item"><a class="nav-link" href="{% url "Acount:register" %}">ثبت نام</a></li>
                    {% endif %}
                </ul>
            </div>
            <div class="d-flex align-items-center">
                <button class="navbar-toggler ml-2" type="button" data-toggle="collapse"
                        data-target="#navbar-default-primary" aria-controls="navbar-default-primary"
                        aria-expanded="false" aria-label="تغییر پیمایش">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
    </nav>
</header>

{% block content %}

{% endblock %}

<!--footer section start-->
<footer class="footer-wrap">
    <div class="footer footer-top section section-md bg-primary text-white">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-lg-4 mb-4">
                    <a class="footer-brand mr-lg-5 d-flex" href="index.html">
                        <img src="{% static "img/logo-white.png" %}" class="mr-3" alt="آرم پاورقی">
                    </a>
                    <p class="my-4">قبل از درگاه های صداگذاری فنی ، بهترین روش های تعاملی را به صورت تعاملی آزاد
                        کنید.</p>
                    <div class="btn-wrapper mt-4">
                        <button class="btn btn-icon-only btn-pill btn-twitter mr-2 icon icon-xs icon-shape"
                                type="button" data-toggle="tooltip" data-placement="top" title=""
                                data-original-title="4000 دنبال کننده">
                            <span aria-hidden="true" class="fab fa-twitter"></span>
                        </button>
                        <button class="btn btn-icon-only btn-pill btn-facebook mr-2 icon icon-xs icon-shape"
                                type="button" data-toggle="tooltip" data-placement="top" title=""
                                data-original-title="5000 لایک">
                            <span aria-hidden="true" class="fab fa-facebook-f"></span>
                        </button>
                        <button class="btn btn-icon-only btn-pill btn-youtube mr-2 icon icon-xs icon-shape"
                                type="button" data-toggle="tooltip" data-placement="top" title=""
                                data-original-title="4000 عضویت">
                            <span aria-hidden="true" class="fab fa-youtube"></span>
                        </button>
                        <button class="btn btn-icon-only btn-pill btn-dribbble icon icon-xs icon-shape" type="button"
                                data-toggle="tooltip" data-placement="top" title="" data-original-title="2000 پروژه">
                            <span aria-hidden="true" class="fab fa-dribbble"></span>
                        </button>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3 mb-4 mb-lg-0">
                    <h5 class="mb-4">شرکت</h5>
                    <ul class="links-vertical">
                        <li><a target="_blank" href="#">درباره ما</a></li>
                        <li><a target="_blank" href="#">مشاغل</a></li>
                        <li><a target="_blank" href="#">مشتریان</a></li>
                        <li><a target="_blank" href="#">انجمن</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-lg-3 mb-4 mb-lg-0">
                    <h5 class="mb-4">منابع</h5>
                    <ul class="links-vertical">
                        <li><a target="_blank" href="#">راهنمایی</a></li>
                        <li><a target="_blank" href="#">مناسبت ها</a></li>
                        <li><a target="_blank" href="#">جلسات زنده</a></li>
                        <li><a target="_blank" href="#">منابع باز</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-lg-2">
                    <h5 class="mb-4">حمایت کردن</h5>
                    <ul class="links-vertical">
                        <li><a target="_blank" href="#">راهنمایی</a></li>
                        <li><a target="_blank" href="#">پشتیبانی فنی</a></li>
                        <li><a target="_blank" href="#">وضعیت شبکه</a></li>
                        <li><a target="_blank" href="#">با پشتیبانی تماس بگیرید</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer py-3 bg-primary text-white border-top border-variant-default">
        <div class="container">
            <div class="row">
                <div class="col p-3">
                    <div class="d-flex text-center justify-content-center align-items-center">
                        <p class="copyright pb-0 mb-0">حق چاپ © 2021. کلیه حقوق محفوظ است توسط
                            <a href="https://themeforest.net/user/themetags" target="_blank">Themefix</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--footer section end-->
<!--scroll bottom to top button start-->
<button class="scroll-top scroll-to-target" data-target="html">
    <span class="fas fa-hand-point-up"></span>
</button>
<!--scroll bottom to top button end-->
<!--build:js-->
<script src="{% static "js/vendors/jquery-3.5.1.min.js" %}"></script>
<!--script src="{% static "js/vendors/popper.min.js" %}"></script>-->
<script src="{% static "js/vendors/bootstrap.min.js" %}"></script>
<script src="{% static "js/vendors/jquery.magnific-popup.min.js" %}"></script>
<script src="{% static "js/vendors/jquery.easing.min.js" %}"></script>
<script src="{% static "js/vendors/mixitup.min.js" %}"></script>
<script src="{% static "js/vendors/headroom.min.js" %}"></script>
<script src="{% static "js/vendors/smooth-scroll.min.js" %}"></script>
<script src="{% static "js/vendors/wow.min.js" %}"></script>
<script src="{% static "js/vendors/owl.carousel.min.js" %}"></script>
<script src="{% static "js/vendors/jquery.waypoints.min.js" %}"></script>
<!--<script src="assets/js/vendors/countUp.min.js"></script>-->
<script src="{% static "js/vendors/jquery.countdown.min.js" %}"></script>
<script src="{% static "js/vendors/validator.min.js" %}"></script>
<script src="{% static "js/app.js" %}"></script>
<!--endbuild-->

</body>
</html>