{% extends "admin_base.html" %}
{% load static %}
{% block content %}
    <div class="main-content-container container-fluid px-4">
        <!-- Page Header -->
        <div class="page-header row no-gutters py-4">
            <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
                <span class="text-uppercase page-subtitle">Blog Posts</span>
                <h3 class="page-title">Add New Post</h3>
            </div>
        </div>
        <!-- End Page Header -->
        <div class="row">
            <div class="col-lg-9 col-md-12">
                <!-- Add New Post Form -->
                <div class="card card-small mb-3">
                    <div class="card-body">
                        <form class="add-new-post" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="file" name="image">
                            <hr>
                            <input class="form-control form-control-lg mb-3" name="titel" type="text" placeholder="Your Post Title">
                            <div id="editor-container" class="add-new-post__editor mb-1">
                                <textarea class="form-control form-control-lg mb-4" name="text"></textarea>
                            </div>

                            <div class='card card-small mb-3'>
                    <div class="card-header border-bottom">
                        <h6 class="m-0">Categories</h6>

                    </div>
                    <div class='card-body p-0'>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item px-3 pb-2">
                                {% for c in categori %}
                                    <div class="custom-control custom-checkbox mb-1">
                                        <input type="checkbox" class="custom-control-input" id="{{ c.id }}" name="categori">
                                        <label class="custom-control-label" for="{{ c.id }}">{{ c.titel }}</label>
                                    </div>
                                {% endfor %}
                            </li>
                        </ul>
                    </div>
                </div>


                            <button class="btn btn-google">
                                انتشار
                            </button>
                        </form>
                    </div>
                </div>
                <!-- / Add New Post Form -->
            </div>
            <div class="col-lg-3 col-md-12">
                <!-- Post Overview -->
                 <form method="post">
                            {% csrf_token %}
                <!-- / Post Overview -->
                <!-- Post Overview -->
                <div class='card card-small mb-3'>
                    <div class="card-header border-bottom">
                        <h6 class="m-0">Categories</h6>
                        {% if errors %}
                        <div class="text-center">
                        <h6 class="m-0">{{ errors.0 }}</h6>
                        </div>
                        {% endif %}
                    </div>
                    <div class='card-body p-0'>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item px-3 pb-2">
                                {% for c in categori %}
                                    <div class="custom-control custom-checkbox mb-1">
                                        <input type="checkbox" class="custom-control-input" id="{{ c.id }}">
                                        <label class="custom-control-label" for="{{ c.id }}">{{ c.titel }}</label>
                                    </div>
                                {% endfor %}
                            </li>
















                                <li class="list-group-item d-flex px-3">
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="category"
                                               placeholder="New category" aria-label="Add new category"
                                               aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-white px-2" type="submit">
                                                <i class="material-icons">add</i>
                                            </button>
                                        </div>
                                    </div>
                                </li>

                        </ul>
                    </div>
                </div>
                <!-- / Post Overview -->
                 </form>
            </div>
        </div>
    </div>
{% endblock %}