{% extends "admin_base.html" %}
{% load static %}

{% block content %}











    <!-- / .main-navbar -->
    <div class="main-content-container container-fluid px-4">
        <!-- Page Header -->

        <!-- End Page Header -->
        <!-- Small Stats Blocks -->
        <hr>
        <div class="container text-center text ">
            <p class="badge badge-primary">
                براي دريافت برنامه ورزشي فرم زير را تكميل كنيد
            </p>
        </div>
        <!-- End Small Stats Blocks -->
        <div class="row">
            <!-- Users Stats -->

            <!-- End Users Stats -->
            <!-- Users By Device Stats -->

            <!-- End Users By Device Stats -->
            <!-- New Draft Component -->
            <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                <!-- Quick Post -->
                <div class="card card-small h-100">
                    <div class="card-header border-bottom">
                        <h6 class="m-0">درخواست</h6>
                    </div>
                    <div class="card-body d-flex flex-column">
                        <form class="quick-post-form" enctype="multipart/form-data" method="post">
                            {% csrf_token %}
                            <div class="form-group">

                                <input type="text" class="form-control" id="exampleInputEmail1"
                                       aria-describedby="emailHelp" name="phone" placeholder="شماره تماس"></div>

                            <div class="form-group">
                                <textarea class="form-control" name="text"
                                          placeholder="اطلاعات كامل خود را وارد كنيد:شامل وزن،سن و..."></textarea>
                            </div>
                            <div class="form-group">
                                <label for="v1">دریافت برنامه از طریق واتساپ</label><br>
                                <input type="checkbox" id="v1" name="v" value="واتساپ">
                            </div>

                            <div class="form-group">
                                <label for="v2">دریافت برنامه از طریق ایمیل</label><br>
                                <input type="checkbox" id="v2" name="v" value="ایمیل">
                            </div>

                            <div class="form-group mb-0">
                                <button type="submit" class="btn btn-accent">ارسال</button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- End Quick Post -->
            </div>
            <!-- End New Draft Component -->
            <!-- Discussions Component -->

            <!-- End Discussions Component -->
            <!-- Top Referrals Component -->

            <!-- End Top Referrals Component -->
        </div>
    </div>



{% endblock %}