{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="main">

    <!--page header section start-->
    <section class="" style="background: url('{% static 'img/header-bg-5.jpg' %}')no-repeat center center / cover">
        <div class="section-lg bg-gradient-primary text-white section-header">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-8 col-lg-7">
                        <div class="page-header-content text-center">
                            <h1>درباره ما</h1>
                            <nav aria-label="خرده نان" class="d-flex justify-content-center">
                                <ol class="breadcrumb breadcrumb-transparent breadcrumb-text-light">
                                    <li class="breadcrumb-item"><a href="#">خانه</a></li>
                                    <li class="breadcrumb-item"><a href="#">صفحات</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">درباره ما</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--page header section end-->

    <!--work process section start-->
    <section class="section section-lg  ">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="section-heading text-center mb-5">
                        <h2>چگونه کار می کند؟</h2>
                        <p class="lead">رشد متمایز محصولات تولید شده را به جلو پیش ببرید و با اشتیاق خدمات برون سپاری مشتری را منتشر کنید.</p>
                    </div>
                </div>
            </div>
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-4 col-md-6 mb-4 mb-md-4 mb-lg-0">
                    <div class="feature-widget text-center p-4">
                        <div class="p-3 p-md-4 rounded bg-primary text-white icon icon-shape icon-lg mb-4">
                            <i class="fas fa-brain"></i>
                        </div>
                        <div class="widget-text">
                            <h3 class="h5">ایده ایجاد کنید</h3>
                            <p class="mb-0">به جای ایده های بینایی ، به طور مناسب زمینه های موضوعی استراتژیک مهم را بازیابی کنید.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4 mb-md-4 mb-lg-0">
                    <div class="feature-widget text-center p-4">
                        <div class="p-3 p-md-4 rounded bg-secondary text-white icon icon-shape icon-lg mb-4">
                            <i class="fab fa-confluence"></i>
                        </div>
                        <div class="widget-text">
                            <h3 class="h5">طراحی ایجاد کنید</h3>
                            <p class="mb-0">بعد از پیوند کامل خط بالا ، به سرعت طرح های گرانول را دوباره تعریف کنید. به طور مناسب تیم پرورش دهنده هدایت می شود.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4 mb-md-4 mb-lg-0">
                    <div class="feature-widget text-center p-4">
                        <div class="p-3 p-md-4 rounded bg-default text-white icon icon-shape icon-lg mb-4">
                            <i class="fas fa-briefcase"></i>
                        </div>
                        <div class="widget-text">
                            <h3 class="h5">پروژه را راه اندازی کنید</h3>
                            <p class="mb-0">بدون ابتکار عمل ، طرح های تأثیرگذار را به طور یکپارچه به کار بگیرید. به طور متقابل از ابتکارات مقیاس پذیر استفاده کنید.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--work process section end-->

    <!--about section start-->
    <section class="section section-lg bg-soft">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-9 col-lg-8">
                    <div class="section-heading text-center">
                        <h2>درباره ما</h2>
                        <p class="lead">رشد متمایز محصولات تولید شده و شبکه های بهینه را به جلو برسانید. با شور و اشتیاق اقدام به انتشار برون سپاری انقلابی کاربر محور می کند</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <div class="feature-tabs-wrap">
                        <ul class="nav nav-tabs border-bottom-0 feature-tabs feature-tabs-center d-flex justify-content-center" data-tabs="tabs">
                            <li class="nav-item">
                                <a class="nav-link d-flex align-items-center px-0 py-2" href="#feature-tab-1" data-toggle="tab">
                                    <h6 class="mb-0">درباره ما</h6>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link d-flex align-items-center px-0 py-2 active" href="#feature-tab-3" data-toggle="tab">
                                    <h6 class="mb-0">ویژگی های ما</h6>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link d-flex align-items-center px-0 py-2" href="#feature-tab-2" data-toggle="tab">
                                    <h6 class="mb-0">خدمات ما</h6>
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content feature-tab-content">
                            <div class="tab-pane" id="feature-tab-1">
                                <div class="row justify-content-between align-items-center">
                                    <div class="col-12 col-md-5 col-lg-6 mb-4 mb-md-4 mb-lg-0">
                                        <div class="card bg-primary position-relative z-2 shadow-lg fancy-radius p-3">
                                            <div class="dot-shape-top position-absolute">
                                                <img src="assets/img/color-shape.svg" alt="نقطه" class="img-fluid">
                                            </div>
                                            <img class="fancy-radius img-fluid" src="assets/img/about-us-2.jpg" alt="میز مدرن">
                                            <div class="dot-shape position-absolute bottom-0">
                                                <img src="assets/img/dot-shape.png" alt="نقطه">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-7 col-lg-5">
                                        <div class="video-promo-content">
                                            <h2>کل راه حل های کسب و کار شما در اینجا</h2>
                                            <p class="lead">تعاملی قبل از الزامات گسترده ، بازارهای به موقع را ایجاد کنید. استراتژی های حرفه ای را دوباره مورد استفاده قرار دهید.</p>
                                            <ul class="list-unstyled tech-feature-list">
                                                <li class="py-1"><span class="icon icon-xs mr-2 text-secondary"> <i class="ti-control-backward"></i></span><strong></strong>طراحی وب سایت های <strong>خلاق</strong></li>
                                                <li class="py-1"><span class="icon icon-xs mr-2 text-secondary"><i class="ti-control-backward"></i></i></span><strong></strong>کتاب راهنمای رویه های <strong>حسابداری</strong></li>
                                                <li class="py-1"><span class="icon icon-xs mr-2 text-secondary"><i class="ti-control-backward"></i></i></span><strong></strong>مبانی حسابداری <strong>هزینه</strong></li>
                                                <li class="py-1"><span class="icon icon-xs mr-2 text-secondary"><i class="ti-control-backward"></i></i></span><strong></strong>خدمات بهینه سازی <strong>SEO</strong></li>
                                            </ul>
                                            <div class="action-btns mt-4">
                                                <a href="#" class="btn btn-primary  mr-2">مشاهده خدمات </a>
                                                <a href="#" class="btn btn-outline-primary ">تماس با ما</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane active" id="feature-tab-3">
                                <div class="row">
                                    <div class="col-md-6 col-lg-4 mb-4">
                                        <!-- Icon box -->
                                        <div class="icon-box text-center p-5 border border-variant-soft bg-white rounded-custom">
                                            <div class="card-icon mb-4">
                                                <img src="assets/img/icon/icon-2.svg" alt="آیکون" width="60" class="img-fluid">
                                            </div>
                                            <h2 class="h5">برنامه ریزی مالی</h2>
                                            <p class="mb-0">با سرورهای درجه یک اختصاصی بارگذاری شده خود ، هرگز نمی توانید اشتباه کنید</p>
                                        </div>
                                        <!-- End of Icon box -->
                                    </div>
                                    <div class="col-md-6 col-lg-4 mb-4">
                                        <!-- Icon box -->
                                        <div class="icon-box text-center p-5 border border-variant-soft bg-white rounded-custom">
                                            <div class="card-icon mb-4">
                                                <img src="assets/img/icon/icon-1.svg" alt="آیکون" width="60" class="img-fluid">
                                            </div>
                                            <h2 class="h5">رشد کسب و کار</h2>
                                            <p class="mb-0">ما می توانیم یک تجربه عالی و زمان بارگیری را برای موفقیت شما تضمین کنیم</p>
                                        </div>
                                        <!-- End of Icon box -->
                                    </div>
                                    <div class="col-md-6 col-lg-4 mb-4">
                                        <!-- Icon box -->
                                        <div class="icon-box text-center p-5 border border-variant-soft bg-white rounded-custom">
                                            <div class="card-icon mb-4">
                                                <img src="assets/img/icon/icon-3.svg" alt="آیکون" width="60" class="img-fluid">
                                            </div>
                                            <h2 class="h5">استراتژی صرفه جویی</h2>
                                            <p class="mb-0">با دسترسی کامل به ریشه شما قادر خواهید بود کنترل کامل سرور خود را بسیار آسان انجام دهید</p>
                                        </div>
                                        <!-- End of Icon box -->
                                    </div>
                                    <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
                                        <!-- Icon box -->
                                        <div class="icon-box text-center p-5 border border-variant-soft bg-white rounded-custom">
                                            <div class="card-icon mb-4">
                                                <img src="assets/img/icon/icon-4.svg" alt="آیکون" width="60" class="img-fluid">
                                            </div>
                                            <h2 class="h5">راه حل های بازاریابی</h2>
                                            <p class="mb-0">برنامه میزبانی VPS ما کاملاً شامل IP اختصاصی پروتکل اینترنت IPv6 است</p>
                                        </div>
                                        <!-- End of Icon box -->
                                    </div>
                                    <div class="col-md-6 col-lg-4 mb-4 mb-lg-0 mb-md-0">
                                        <!-- Icon box -->
                                        <div class="icon-box text-center p-5 border border-variant-soft bg-white rounded-custom">
                                            <div class="card-icon mb-4">
                                                <img src="assets/img/icon/icon-6.svg" alt="آیکون" width="60" class="img-fluid">
                                            </div>
                                            <h2 class="h5">کل راه حل های جستجوگرها</h2>
                                            <p class="mb-0">اگر 100٪ از Hostlar راضی نباشید ، پرداخت شما را بدون خطر پس می دهیم</p>
                                        </div>
                                        <!-- End of Icon box -->
                                    </div>
                                    <div class="col-md-6 col-lg-4 mb-lg-0 mb-md-0">
                                        <!-- Icon box -->
                                        <div class="icon-box text-center p-5 border border-variant-soft bg-white rounded-custom">
                                            <div class="card-icon mb-4">
                                                <img src="assets/img/icon/icon-8.svg" alt="آیکون" width="60" class="img-fluid">
                                            </div>
                                            <h2 class="h5">امنیت تجاری</h2>
                                            <p class="mb-0">یکی از بسیاری از ویژگی های برتر ، برنامه اختصاصی ارزانترین میزبان VPS برای IP است</p>
                                        </div>
                                        <!-- End of Icon box -->
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="feature-tab-2">
                                <div class="row">
                                    <div class="col-12 col-lg-6 col-md-6 col-sm-6 mb-4">
                                        <div class="services-single d-flex p-5 border border-variant-soft bg-white rounded-custom">
                                            <div class="icon icon-lg mr-4 text-secondary">
                                                <i class="ti-announcement"></i>
                                            </div>
                                            <div class="services-content-wrap">
                                                <h3 class="h6">خدمات بازاریابی</h3>
                                                <p>با مشارکت های سطح بندی منابع ، به تدریج تفکر "خارج از چارچوب" را تقویت کنید.</p>
                                                <a href="services-details.html" class="link-with-icon text-default font-small font-weight-bold" target="_blank">ادامه مطلب <span> <i class="fas fa-angle-left"></i></span></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-6 col-md-6 col-sm-6 mb-4">
                                        <div class="services-single d-flex p-5 border border-variant-soft bg-white rounded-custom">
                                            <div class="icon icon-lg mr-4 text-secondary">
                                                <i class="ti-light-bulb"></i>
                                            </div>
                                            <div class="services-content-wrap">
                                                <h3 class="h6">توسعه برنامه وب</h3>
                                                <p>سریعتر تجارت الکترونیکی جامع را به جای آماده بودن برای هدف در وب ، به منصه ظهور برسانید.</p>
                                                <a href="services-details.html" class="link-with-icon text-default font-small font-weight-bold" target="_blank">ادامه مطلب <span> <i class="fas fa-angle-left"></i></span></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-6 col-md-6 col-sm-6 mb-4">
                                        <div class="services-single d-flex p-5 border border-variant-soft bg-white rounded-custom">
                                            <div class="icon icon-lg mr-4 text-secondary">
                                                <i class="ti-headphone-alt"></i>
                                            </div>
                                            <div class="services-content-wrap">
                                                <h3 class="h6">24/7 خدمات مرکز تماس</h3>
                                                <p>با استفاده از پورتال های جهانی مشتری مدارهای مبتنی بر چندرسانه ای را با اقتدار دوباره اختراع کنید.</p>
                                                <a href="services-details.html" class="link-with-icon text-default font-small font-weight-bold" target="_blank">ادامه مطلب <span> <i class="fas fa-angle-left"></i></span></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-6 col-md-6 col-sm-6 mb-4">
                                        <div class="services-single d-flex p-5 border border-variant-soft bg-white rounded-custom">
                                            <div class="icon icon-lg mr-4 text-secondary">
                                                <i class="ti-bell"></i>
                                            </div>
                                            <div class="services-content-wrap">
                                                <h3 class="h6">بازاریابی از طریق رسانه های اجتماعی</h3>
                                                <p>با قاطعیت از خدمات الکترونیکی استاندارد شده دیگر با همکاری همگانی تجارت الکترونیکی استفاده کنید. </p>
                                                <a href="services-details.html" class="link-with-icon text-default font-small font-weight-bold" target="_blank">ادامه مطلب <span> <i class="fas fa-angle-left"></i></span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--about section end-->

    <!--cta section start-->
    <section class="section py-0" style="background: url('assets/img/hero-bg11.jpg')no-repeat center fixed">
        <div class="section-lg section bg-gradient-primary text-white  ">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-9 col-md-10 col-lg-9">
                        <div class="section-title text-center mb-5">
                            <h2>برنامه های کسب و کار ما را بارگیری کنید</h2>
                            <p class="lead">ایجاد برنامه های شما به جذب مشتریان بالقوه بیشتری راهنمایی می کند. تیم بازاریابی یکپارچه ما همگرایی داخلی را فعال یا کار می کند.</p>
                        </div>
                        <div class="download-btn-wrap text-center">
                            <a class="btn btn-pill border border-variant-light  text-white  shadow-hover mr-md-3 mb-4 mb-md-3 mb-lg-0" href="#">
                                <div class="d-flex align-items-center">
                                    <span class="icon icon-md mr-3 h-auto"><i class="fab fa-apple"></i></span>
                                    <div class="d-block text-left">
                                        <small class="font-small ">بارگیری در</small>
                                        <div class="h6 mb-0">فروشگاه برنامه</div>
                                    </div>
                                </div>
                            </a>
                            <a class="btn btn-pill border border-variant-light  text-white  shadow-hover mr-md-3 mb-4 mb-md-3 mb-lg-0" href="#">
                                <div class="d-flex align-items-center">
                                    <span class="icon icon-md mr-3 h-auto"><i class="fab fa-google-play"></i></span>
                                    <div class="d-block text-left">
                                        <small class="font-small ">بارگیری در</small>
                                        <div class="h6 mb-0">گوگل پلی</div>
                                    </div>
                                </div>
                            </a>
                            <a class="btn btn-pill border border-variant-light  text-white  shadow-hover" href="#">
                                <div class="d-flex align-items-center">
                                    <span class="icon icon-md mr-3 h-auto"><i class="fab fa-windows"></i></span>
                                    <div class="d-block text-left">
                                        <small class="font-small ">بارگیری در</small>
                                        <div class="h6 mb-0">پنجره ها</div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--cta section end-->

    <!--team section start-->
    <section class="section section-lg ">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="section-heading text-center mb-5">
                        <h2>با تیم دوست داشتنی ما ملاقات کنید</h2>
                        <p class="lead">به صورت پویا همگرایی قابل اطمینان را دنبال کنید تا بهبود فرآیند 24/7 ، خدمات مشتری به پایان را توسعه دهید.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 col-lg-3 mb-md-4 mb-4">
                    <div class="profile-card">
                        <div class="card bg-white shadow animate-hover border-variant-soft">
                            <div class="bg-soft p-2 mb-4">
                                <img src="assets/img/team/team-8.jpg" class="card-img-top" alt="کریستوفر آواتار">
                            </div>
                            <div class="card-body text-center px-4 pb-4 pt-0">
                                <h3 class="h6">جان س. عمومی</h3>
                                <span class="font-small font-weight-normal text-gray mb-3">توسعه دهنده</span>
                                <ul class="list-unstyled d-flex justify-content-center mt-3 mb-0">
                                    <li>
                                        <a href="#" target="_blank" aria-label="پیوند اجتماعی فیس بوک" class="icon icon-shape icon-xs bg-facebook-alt rounded-circle icon-facebook brand-facebook mx-1" data-toggle="tooltip" data-placement="top" title="" data-original-title="5000 لایک">
                                            <span class="fab fa-facebook-f"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank" aria-label="پیوند اجتماعی توییتر" class="icon icon-shape icon-xs bg-twitch-alt rounded-circle brand-twitter icon-twitter mx-1" data-toggle="tooltip" data-placement="top" title="" data-original-title="4000 دنبال کننده" aria-describedby="tooltip927904">
                                            <span class="fab fa-twitter"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank" aria-label="پیوند اجتماعی شل" class="icon icon-shape icon-xs bg-youtube-alt rounded-circle brand-youtube icon-youtube mx-1" data-toggle="tooltip" data-placement="top" title="" data-original-title="4000 عضویت">
                                            <span class="fab fa-youtube"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank" aria-label="پیوند اجتماعی دریبل" class="icon icon-shape icon-xs bg-dribbble-alt rounded-circle brand-dribbble icon-dribbble mx-1" data-toggle="tooltip" data-placement="top" title="" data-original-title="2000 پروژه">
                                            <span class="fab fa-dribbble"></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 mb-md-4 mb-4">
                    <div class="profile-card">
                        <div class="card bg-white shadow animate-hover border-variant-soft">
                            <div class="bg-soft p-2 mb-4">
                                <img src="assets/img/team/team-7.jpg" class="card-img-top" alt="کریستوفر آواتار">
                            </div>
                            <div class="card-body text-center px-4 pb-4 pt-0">
                                <h3 class="h6">مادورای مانی اییر</h3>
                                <span class="font-small font-weight-normal text-gray mb-3">توسعه دهنده سرب</span>
                                <ul class="list-unstyled d-flex justify-content-center mt-3 mb-0">
                                    <li>
                                        <a href="#" target="_blank" aria-label="پیوند اجتماعی فیس بوک" class="icon icon-shape icon-xs bg-facebook-alt rounded-circle icon-facebook brand-facebook mx-1" data-toggle="tooltip" data-placement="top" title="" data-original-title="5000 لایک">
                                            <span class="fab fa-facebook-f"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank" aria-label="پیوند اجتماعی توییتر" class="icon icon-shape icon-xs bg-twitch-alt rounded-circle brand-twitter icon-twitter mx-1" data-toggle="tooltip" data-placement="top" title="" data-original-title="4000 دنبال کننده" aria-describedby="tooltip927904">
                                            <span class="fab fa-twitter"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank" aria-label="پیوند اجتماعی شل" class="icon icon-shape icon-xs bg-youtube-alt rounded-circle brand-youtube icon-youtube mx-1" data-toggle="tooltip" data-placement="top" title="" data-original-title="4000 عضویت">
                                            <span class="fab fa-youtube"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank" aria-label="پیوند اجتماعی دریبل" class="icon icon-shape icon-xs bg-dribbble-alt rounded-circle brand-dribbble icon-dribbble mx-1" data-toggle="tooltip" data-placement="top" title="" data-original-title="2000 پروژه">
                                            <span class="fab fa-dribbble"></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 mb-md-4 mb-4">
                    <div class="profile-card">
                        <div class="card bg-white shadow animate-hover border-variant-soft">
                            <div class="bg-soft p-2 mb-4">
                                <img src="assets/img/team/team-6.jpg" class="card-img-top" alt="کریستوفر آواتار">
                            </div>
                            <div class="card-body text-center px-4 pb-4 pt-0">
                                <h3 class="h6">ماریا جی برو</h3>
                                <span class="font-small font-weight-normal text-gray mb-3">مهندس پشتیبانی</span>
                                <ul class="list-unstyled d-flex justify-content-center mt-3 mb-0">
                                    <li>
                                        <a href="#" target="_blank" aria-label="پیوند اجتماعی فیس بوک" class="icon icon-shape icon-xs bg-facebook-alt rounded-circle icon-facebook brand-facebook mx-1" data-toggle="tooltip" data-placement="top" title="" data-original-title="5000 لایک">
                                            <span class="fab fa-facebook-f"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank" aria-label="پیوند اجتماعی توییتر" class="icon icon-shape icon-xs bg-twitch-alt rounded-circle brand-twitter icon-twitter mx-1" data-toggle="tooltip" data-placement="top" title="" data-original-title="4000 دنبال کننده" aria-describedby="tooltip927904">
                                            <span class="fab fa-twitter"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank" aria-label="پیوند اجتماعی شل" class="icon icon-shape icon-xs bg-youtube-alt rounded-circle brand-youtube icon-youtube mx-1" data-toggle="tooltip" data-placement="top" title="" data-original-title="4000 عضویت">
                                            <span class="fab fa-youtube"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank" aria-label="پیوند اجتماعی دریبل" class="icon icon-shape icon-xs bg-dribbble-alt rounded-circle brand-dribbble icon-dribbble mx-1" data-toggle="tooltip" data-placement="top" title="" data-original-title="2000 پروژه">
                                            <span class="fab fa-dribbble"></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 mb-md-4 mb-4">
                    <div class="profile-card">
                        <div class="card bg-white shadow animate-hover border-variant-soft">
                            <div class="bg-soft p-2 mb-4">
                                <img src="assets/img/team/team-5.jpg" class="card-img-top" alt="کریستوفر آواتار">
                            </div>
                            <div class="card-body text-center px-4 pb-4 pt-0">
                                <h3 class="h6">جان س. عمومی</h3>
                                <span class="font-small font-weight-normal text-gray mb-3">توسعه دهنده</span>
                                <ul class="list-unstyled d-flex justify-content-center mt-3 mb-0">
                                    <li>
                                        <a href="#" target="_blank" aria-label="پیوند اجتماعی فیس بوک" class="icon icon-shape icon-xs bg-facebook-alt rounded-circle icon-facebook brand-facebook mx-1" data-toggle="tooltip" data-placement="top" title="" data-original-title="5000 لایک">
                                            <span class="fab fa-facebook-f"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank" aria-label="پیوند اجتماعی توییتر" class="icon icon-shape icon-xs bg-twitch-alt rounded-circle brand-twitter icon-twitter mx-1" data-toggle="tooltip" data-placement="top" title="" data-original-title="4000 دنبال کننده" aria-describedby="tooltip927904">
                                            <span class="fab fa-twitter"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank" aria-label="پیوند اجتماعی شل" class="icon icon-shape icon-xs bg-youtube-alt rounded-circle brand-youtube icon-youtube mx-1" data-toggle="tooltip" data-placement="top" title="" data-original-title="4000 عضویت">
                                            <span class="fab fa-youtube"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank" aria-label="پیوند اجتماعی دریبل" class="icon icon-shape icon-xs bg-dribbble-alt rounded-circle brand-dribbble icon-dribbble mx-1" data-toggle="tooltip" data-placement="top" title="" data-original-title="2000 پروژه">
                                            <span class="fab fa-dribbble"></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 mb-md-4 mb-4">
                    <div class="profile-card">
                        <div class="card bg-white shadow animate-hover border-variant-soft">
                            <div class="bg-soft p-2 mb-4">
                                <img src="assets/img/team/team-4.jpg" class="card-img-top" alt="کریستوفر آواتار">
                            </div>
                            <div class="card-body text-center px-4 pb-4 pt-0">
                                <h3 class="h6">مادورای مانی اییر</h3>
                                <span class="font-small font-weight-normal text-gray mb-3">توسعه دهنده سرب</span>
                                <ul class="list-unstyled d-flex justify-content-center mt-3 mb-0">
                                    <li>
                                        <a href="#" target="_blank" aria-label="پیوند اجتماعی فیس بوک" class="icon icon-shape icon-xs bg-facebook-alt rounded-circle icon-facebook brand-facebook mx-1" data-toggle="tooltip" data-placement="top" title="" data-original-title="5000 لایک">
                                            <span class="fab fa-facebook-f"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank" aria-label="پیوند اجتماعی توییتر" class="icon icon-shape icon-xs bg-twitch-alt rounded-circle brand-twitter icon-twitter mx-1" data-toggle="tooltip" data-placement="top" title="" data-original-title="4000 دنبال کننده" aria-describedby="tooltip927904">
                                            <span class="fab fa-twitter"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank" aria-label="پیوند اجتماعی شل" class="icon icon-shape icon-xs bg-youtube-alt rounded-circle brand-youtube icon-youtube mx-1" data-toggle="tooltip" data-placement="top" title="" data-original-title="4000 عضویت">
                                            <span class="fab fa-youtube"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank" aria-label="پیوند اجتماعی دریبل" class="icon icon-shape icon-xs bg-dribbble-alt rounded-circle brand-dribbble icon-dribbble mx-1" data-toggle="tooltip" data-placement="top" title="" data-original-title="2000 پروژه">
                                            <span class="fab fa-dribbble"></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 mb-md-4 mb-4">
                    <div class="profile-card">
                        <div class="card bg-white shadow animate-hover border-variant-soft">
                            <div class="bg-soft p-2 mb-4">
                                <img src="assets/img/team/team-3.jpg" class="card-img-top" alt="کریستوفر آواتار">
                            </div>
                            <div class="card-body text-center px-4 pb-4 pt-0">
                                <h3 class="h6">ماریا جی برو</h3>
                                <span class="font-small font-weight-normal text-gray mb-3">مهندس پشتیبانی</span>
                                <ul class="list-unstyled d-flex justify-content-center mt-3 mb-0">
                                    <li>
                                        <a href="#" target="_blank" aria-label="پیوند اجتماعی فیس بوک" class="icon icon-shape icon-xs bg-facebook-alt rounded-circle icon-facebook brand-facebook mx-1" data-toggle="tooltip" data-placement="top" title="" data-original-title="5000 لایک">
                                            <span class="fab fa-facebook-f"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank" aria-label="پیوند اجتماعی توییتر" class="icon icon-shape icon-xs bg-twitch-alt rounded-circle brand-twitter icon-twitter mx-1" data-toggle="tooltip" data-placement="top" title="" data-original-title="4000 دنبال کننده" aria-describedby="tooltip927904">
                                            <span class="fab fa-twitter"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank" aria-label="پیوند اجتماعی شل" class="icon icon-shape icon-xs bg-youtube-alt rounded-circle brand-youtube icon-youtube mx-1" data-toggle="tooltip" data-placement="top" title="" data-original-title="4000 عضویت">
                                            <span class="fab fa-youtube"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank" aria-label="پیوند اجتماعی دریبل" class="icon icon-shape icon-xs bg-dribbble-alt rounded-circle brand-dribbble icon-dribbble mx-1" data-toggle="tooltip" data-placement="top" title="" data-original-title="2000 پروژه">
                                            <span class="fab fa-dribbble"></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 mb-md-4 mb-4">
                    <div class="profile-card">
                        <div class="card bg-white shadow animate-hover border-variant-soft">
                            <div class="bg-soft p-2 mb-4">
                                <img src="assets/img/team/team-2.jpg" class="card-img-top" alt="کریستوفر آواتار">
                            </div>
                            <div class="card-body text-center px-4 pb-4 pt-0">
                                <h3 class="h6">جان س. عمومی</h3>
                                <span class="font-small font-weight-normal text-gray mb-3">توسعه دهنده</span>
                                <ul class="list-unstyled d-flex justify-content-center mt-3 mb-0">
                                    <li>
                                        <a href="#" target="_blank" aria-label="پیوند اجتماعی فیس بوک" class="icon icon-shape icon-xs bg-facebook-alt rounded-circle icon-facebook brand-facebook mx-1" data-toggle="tooltip" data-placement="top" title="" data-original-title="5000 لایک">
                                            <span class="fab fa-facebook-f"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank" aria-label="پیوند اجتماعی توییتر" class="icon icon-shape icon-xs bg-twitch-alt rounded-circle brand-twitter icon-twitter mrx-1data-toggle=" data-toggle="tooltip" data-placement="top" title="" data-original-title="4000 دنبال کننده" aria-describedby="tooltip927904">
                                        <span class="fab fa-twitter"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank" aria-label="پیوند اجتماعی شل" class="icon icon-shape icon-xs bg-youtube-alt rounded-circle brand-youtube icon-youtube mx-1" data-toggle="tooltip" data-placement="top" title="" data-original-title="4000 عضویت">
                                            <span class="fab fa-youtube"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank" aria-label="پیوند اجتماعی دریبل" class="icon icon-shape icon-xs bg-dribbble-alt rounded-circle brand-dribbble icon-dribbble mx-1" data-toggle="tooltip" data-placement="top" title="" data-original-title="2000 پروژه">
                                            <span class="fab fa-dribbble"></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 mb-md-4 mb-4">
                    <div class="profile-card">
                        <div class="card bg-white shadow animate-hover border-variant-soft">
                            <div class="bg-soft p-2 mb-4">
                                <img src="assets/img/team/team-1.jpg" class="card-img-top" alt="کریستوفر آواتار">
                            </div>
                            <div class="card-body text-center px-4 pb-4 pt-0">
                                <h3 class="h6">مادورای مانی اییر</h3>
                                <span class="font-small font-weight-normal text-gray mb-3">توسعه دهنده سرب</span>
                                <ul class="list-unstyled d-flex justify-content-center mt-3 mb-0">
                                    <li>
                                        <a href="#" target="_blank" aria-label="پیوند اجتماعی فیس بوک" class="icon icon-shape icon-xs bg-facebook-alt rounded-circle icon-facebook brand-facebook mx-1" data-toggle="tooltip" data-placement="top" title="" data-original-title="5000 لایک">
                                            <span class="fab fa-facebook-f"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank" aria-label="پیوند اجتماعی توییتر" class="icon icon-shape icon-xs bg-twitch-alt rounded-circle brand-twitter icon-twitter mx-1" data-toggle="tooltip" data-placement="top" title="" data-original-title="4000 دنبال کننده" aria-describedby="tooltip927904">
                                            <span class="fab fa-twitter"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank" aria-label="پیوند اجتماعی شل" class="icon icon-shape icon-xs bg-youtube-alt rounded-circle brand-youtube icon-youtube mx-1" data-toggle="tooltip" data-placement="top" title="" data-original-title="4000 عضویت">
                                            <span class="fab fa-youtube"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank" aria-label="پیوند اجتماعی دریبل" class="icon icon-shape icon-xs bg-dribbble-alt rounded-circle brand-dribbble icon-dribbble mx-1" data-toggle="tooltip" data-placement="top" title="" data-original-title="2000 پروژه">
                                            <span class="fab fa-dribbble"></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--team section end-->

    <!--testimonial section start-->


    <!--blog section start-->
    <section class="section section-lg ">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="section-heading text-center mb-5">
                        <h2>آخرین اخبار ما</h2>
                        <p class="lead">به صورت پویا همگرایی قابل اطمینان را دنبال کنید تا بهبود فرآیند 24/7 ، خدمات مشتری به پایان را توسعه دهید.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for a in article %}
                <div class="col-12 col-md-6 col-lg-4 mb-4 mb-md-4 mb-lg-0 mb-4">
                    <div class="card bg-white border-variant-soft shadow-soft">
                        <div class="blog-img position-relative">
                            <img src="{{ a.image.url }}" class="card-img-top rounded-top" alt="دفترهای مضمون">
                            <a href="#" class="position-absolute category-text small badge badge-secondary">{{ a.categori.all.first }}</a>
                        </div>
                        <div class="card-body">
                            <div class="media d-flex align-items-center justify-content-between">
                                <div class="post-group">
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="23k followers">
                                        <img class="avatar avatar-xs mr-2 img-fluid rounded-circle border border-variant-primary p-1" src="{{ user.profile.image.url }}" alt="مدیر"> <span class="small">{{ a.witer }}</span>
                                    </a>
                                </div>
                                <div class="d-flex align-items-center">
                                    <span class="small"><span class="far fa-calendar-alt mr-2"></span>{{ a.create }}</span>
                                </div>
                            </div>
                            <h3 class="h5 card-title mt-3"><a href="#">{{ a.titel }}</a></h3>
                            <p class="card-text">{{ a.text }}</p>
                            <a href="{{ a.get_absulot_url }}" class="link-with-icon text-default font-small font-weight-bold" target="_blank">ادامه مطلب <span> <i class="fas fa-angle-left"></i></span></a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!--blog section end-->

    <!--customer logo section start-->
    <div class="section section-sm bg-soft">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-12">
                    <div class="owl-carousel owl-theme clients-carousel">
                        <div class="item single-client">
                            <img src="assets/img/client-logos/logo1.png" alt="آرم مشتری" class="img-fluid">
                        </div>
                        <div class="item single-client">
                            <img src="assets/img/client-logos/logo5.png" alt="آرم مشتری" class="img-fluid">
                        </div>
                        <div class="item single-client">
                            <img src="assets/img/client-logos/logo6.png" alt="آرم مشتری" class="img-fluid">
                        </div>
                        <div class="item single-client">
                            <img src="assets/img/client-logos/logo4.png" alt="آرم مشتری" class="img-fluid">
                        </div>
                        <div class="item single-client">
                            <img src="assets/img/client-logos/logo2.png" alt="آرم مشتری" class="img-fluid">
                        </div>
                        <div class="item single-client">
                            <img src="assets/img/client-logos/logo6.png" alt="آرم مشتری" class="img-fluid">
                        </div>
                        <div class="item single-client">
                            <img src="assets/img/client-logos/logo3.png" alt="آرم مشتری" class="img-fluid">
                        </div>
                        <div class="item single-client">
                            <img src="assets/img/client-logos/logo8.png" alt="آرم مشتری" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--customer logo section end-->

</div>

<!--footer section start-->
{% endblock %}