{% extends "base2.html" %}
{% load static  %}
{% block content %}
<!--header section end-->

<div class="main">

    <!--sign up section start-->
    <section class="section section-lg section-header position-relative min-vh-100 flex-column d-flex justify-content-center" style="background: url('{% static 'img/slider-bg-1.svg' %}')no-repeat center bottom / cover">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-md-7 col-lg-6">
                    <div class="hero-content-left text-white">
                        <h1 class="display-2">حساب کاربری برای خود بسازید</h1>
                        <p class="lead">
                            صورت خود را همیشه به سمت آفتاب نگه دارید - و سایه ها پشت سر شما قرار می گیرند.
                        </p>
                    </div>
                </div>
                <div class="col-md-5 col-lg-5">
                    <div class="card login-signup-card shadow-lg mb-0">
                        <div class="card-body px-md-5 py-5">
                            <div class="mb-5">
                                <h3>ایجاد حساب</h3>
                                <p class="text-muted">برای ادامه وارد حساب خود شوید.</p>
                            </div>
                            <!--sign up form-->
                            <form class="login-signup-form" method="post">
                                {% csrf_token %}
                                <div class="form-group">
                                    <!-- Label -->
                                    {% if errors %}
                                    <div class="container">
                                        <p class="text text-center">
                                            {{ errors.0 }}
                                        </p>
                                    </div>
                                    {% endif %}
                                    <label class="font-weight-bold">
                                        اسم شما
                                    </label>
                                    <!-- Input group -->
                                    <div class="input-group input-group-merge">
                                        <div class="input-icon">
                                            <i class="ti-user"></i>
                                        </div>
                                        <input type="text" name="username" class="form-control" placeholder="نام کاربری خودت رو وارد کن" required="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <!-- Label -->
                                    <label class="font-weight-bold">
                                        آدرس ایمیل
                                    </label>
                                    <!-- Input group -->
                                    <div class="input-group input-group-merge">
                                        <div class="input-icon">
                                            <i class="ti-email"></i>
                                        </div>
                                        <input type="email"  name="email" class="form-control" placeholder="name@address.com" required="">
                                    </div>
                                </div>

                                <!-- Password -->
                                <div class="form-group">
                                    <!-- Label -->
                                    <label class="font-weight-bold">
                                        کلمه عبور
                                    </label>
                                    <!-- Input group -->
                                    <div class="input-group input-group-merge">
                                        <div class="input-icon">
                                            <i class="ti-lock"></i>
                                        </div>
                                        <input type="password" name="password" class="form-control" placeholder="رمز ورود خود را وارد کنید">
                                    </div>
                                </div>
                            <div class="form-group">
                                    <!-- Label -->
                                    <label class="font-weight-bold">
                                        تکرار کلمه عبور
                                    </label>
                                    <!-- Input group -->
                                    <div class="input-group input-group-merge">
                                        <div class="input-icon">
                                            <i class="ti-lock"></i>
                                        </div>
                                        <input type="password" name="password2" class="form-control" placeholder="رمز عبور را مجددا وارد کنید">
                                    </div>
                                </div>

                                <div class="my-4">
                                    <div class="form-check square-check">
                                        <input class="form-check-input" type="checkbox" value="" id="check-terms">
                                        <label class="form-check-label" for="check-terms">
                                            من با <a href="#">شرایط و ضوابط</a> موافقم<a href="#"></a>
                                        </label>
                                    </div>
                                </div>

                                <!-- Submit -->
                                <button class="btn btn-block btn-secondary border-radius mt-4 mb-3">
                                    ثبت نام
                                </button>
                            </form>
                        </div>
                        <div class="card-footer bg-soft text-center border-top px-md-5"><small>قبلاً ثبت نام کرده اید؟ </small>
                            <a href="{% url "Acount:login" %}" class="small">وارد شدن</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--sign up section end-->


</div>


</body>

</html>
{% endblock %}